<div class="span4">
  <div class="spark">
    {% set xaxis = {'mode': 'time', 'timeformat': '%b \'%y'} %}
    {% set yaxis = {'min': 0} %}
    {% set lines = {'fill': 1} %}
    {% set rawdata = [h.get_weekly_new_dataset_totals()] %}
    <h4 class="heading">{{ _('Total datasets by week') }}</h4>
    <div class="inner" data-module="homepage-stats" data-module-lines="{{ h.dump_json(lines) }}" data-module-xaxis="{{ h.dump_json(xaxis) }}" data-module-yaxis="{{ h.dump_json(yaxis) }}" data-module-rawdata="{{ h.dump_json(rawdata) }}">
        <div style="width:260px;height:100px" class="demo-placeholder"></div>
    </div>
  </div>
</div>
<div class="span4">
  <div class="spark">
    {% set xaxis = {'mode': 'time', 'timeformat': '%b \'%y'} %}
    {% set yaxis = {'min': 0} %}
    {% set lines = {'fill': 1} %}
    {% set rawdata = [{"label": "All activity", "data": h.get_weekly_dataset_activity()}, {"label": "New datasets", "data": h.get_weekly_dataset_activity_new()}] %}
    <h4 class="heading">{{ _('Dataset activity by week') }}</h4>
    <div class="inner" data-module="homepage-stats" data-module-lines="{{ h.dump_json(lines) }}" data-module-xaxis="{{ h.dump_json(xaxis) }}" data-module-yaxis="{{ h.dump_json(yaxis) }}" data-module-rawdata="{{ h.dump_json(rawdata) }}">
        <div style="width:260px;height:100px" class="demo-placeholder"></div>
    </div>
  </div>
</div>
{#<div class="span4">
  <div class="spark">
    <h4 class="heading">{{ _('Most viewed datasets') }}</h4>
    <div class="inner" data-module="homepage-stats">
        <div style="width:260px;height:100px" class="demo-placeholder"></div>
    </div>
  </div>
</div>#}
