{% ckan_extends %}

{% block primary_content %}
  <div role="main" class="hero">
    <div class="container">
      {% snippet 'home/snippets/search.html' %}
    </div>
  </div>
  <div role="main" class="boxes">
    <div class="container">
      <div class="row">
        {% snippet 'home/snippets/stats_vis.html' %}
      </div>
    </div>
  </div>
  <div role="main" class="boxes">
    <div class="container">
      <div class="row" data-module="homepage-cols">
        <div class="span4">
          {% snippet 'home/snippets/most_viewed.html' %}
        </div>
        <div class="span4">
          {% snippet 'home/snippets/recently_updated.html' %}
        </div>
        <div class="span4">
          {% snippet 'home/snippets/tweets.html' %}
        </div>
      </div>
    </div>
  </div>
  <div role="main" class="news">
    <div class="container">
      {% snippet 'home/snippets/news.html' %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% resource 'theme/scripts/jquery.matchHeight.js' %}
  {% resource 'theme/scripts/jquery.flot.js' %}
  {% resource 'theme/scripts/jquery.flot.time.js' %}
  {% resource 'theme/scripts/homepage-cols.js' %}
  {% resource 'theme/scripts/homepage-stats.js' %}
{% endblock %}
